# Gradle files
.gradle/
build/
*.apk
*.aab

# Android Studio
.idea/
*.iml
*.iws
*.ipr
.DS_Store

# Local configuration file (sdk path, etc)
local.properties

# Kotlin
*.kt.bak
*.kexe

# Build output
out/
*.class

# Log Files
*.log

# Misc
.classpath
.project
.settings/
